* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

#header {
    padding: 10px 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-weight: 900;
}

.logo h1 span {
    color: darkorchid;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 10px 15px;
    font-weight: 300;
    cursor: pointer;
    color: #3d2541;
}

.menu ul li#login {
    color: #2f00ff;
}

.menu ul li#login {
    background-color: #00aeff;
    color: #FFF;
}