* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

#header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-weight: 900;
}

.logo h1 span {
    color: darkorchid;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 10px 15px;
    font-weight: 300;
    cursor: pointer;
    color: #3d2541;
    border-radius: 8px;
}

.menu ul li.especialista {
    color: #2f00ff;
}

.menu ul li.login {
    background-color: #00aeff;
    color: #FFF;
}

#hero {
    background: rgb(0,232,255);
    background: linear-gradient(90deg, rgba(0,232,255,0.10127801120448177) 0%, rgba(0,255,239,0.1) 82%);
}

#hero .container {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

#hero .container .row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#hero .container .row.img {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#hero h2 {
    font-size: 40px;
}

#button-primary {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00aeff;
    color: #FFF;
    border: none;
}

.cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 550px;
}

.card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 20px 25px;
    border-radius: 20px;
}